Checks:>
    clang-analyzer-*,
    bugprone-*,
    performance-*,
    readability-*,
    modernize-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-pro-type-member-init,
    -modernize-use-trailing-return-type,
    -readability-named-parameter
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file