BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterStruct: false
  AfterNamespace: false
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  BeforeCatch: true
  BeforeElse: true
PointerAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
IndentCaseLabels: true
RequiresClausePosition: WithPreceding